In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objs as go

## Pengertian

> Python adalah salah satu bahasa tingkat tinggi *(high-level language)* yang mudah dimengerti karena mirip dengan bahasa inggris sehari-hari. Contoh lain bahasa tingkat tinggi pemrograman adalah C, C++, Perl dan Java. Python sangat mudah digunakan karena gratis *(Open Source)*, terbuka bagi siapa saja dan memiliki modul *(library)* sangat banyak. Inilah mengapa Python sangatlah populer.

> Terdapat dua versi Python yang masih sering digunakan yaitu python 2.x dan python 3.x. Keduanya mempunyai kelebihan dan kekurangan yang sama-sama bisa digunakan sebagai pemrograman *data science* dan lainnya.Dalam prakteknya, pengguna dapat memilih diantara kedua versi tersebut. Pada praktikum ini akan digunakan python 3.x untuk menjalankan algoritma pemrograman.

 > Python dapat diinstal di banyak platform salah satunya adalah sistem operasi windows. Tetapi instalasi tersebut tidak mudah, dibutuhkan memasang dan mengkonﬁgurasi banyak hal, ini akan menjadi masalah bagi seorang programer pemula. Untuk mengatasinya,dapat digunakan Anaconda,sebuah distribusi Python *(python distribution)*,yang memiliki banyak package,tool dan setup sudah siap digunakan. Cara menginstal anaconda dapat dilihat dilink https://docs.continuum.io/anaconda/install/

 > Salah satu solusi untuk mempermudah menggunakan Python tanpa menggunakan aplikasi lain adalah dengan Google Colab. Google Colab pada dasarnya adalah Jupyter Notebook environment gratis yang sepenuhnya berjalan di cloud. Colab tidak memerlukan tahap setup, selain itu notebook yang akan dibuat dapat diedit secara bersamaan oleh orang lain layaknya mengedit dokumen di Google Docs. Keuntungan terbesarnya adalah Colab mendukung library machine learning paling populer yang dapat dimuat dengan mudah.

## Program Pertama

Mencetak informasi dengan function "print"

In [ ]:
print(50)
print('Hello')
print(True)

50
Hello
True

## Tipe Data & Variabel

### Integer

Tipe data **integer** adalah tipe yang digunakan secara khusus untuk menampung bilangan-bilangan bulat positif dan negatif, serta tidak mengandung bilangan pecahan desimal.

In [ ]:
# Integer
print(1)
print(10)
print(100)

1
10
100

In [ ]:
a = 10
type(a) #Menampilkan tipe data a

int

### Float

Tipe data **float** (disebut juga tipe data floating point, atau real number) adalah tipe data angka yang memiliki bagian desimal di akhir angka, atau memiliki floating point.

In [ ]:
# Float
print(1.5)
print(-0.7)

1.5
-0.7

In [ ]:
b = -2.5
type(b) #Menampilkan tipe data b

float

In [ ]:
c = a + b
print(c)

7.5

In [ ]:
type(c) #Menampilkan tipe data c

float

### String

Tipe data **string** adalah tipe data yang bisa menampung banyak karakter sekaligus. String adalah tipe data untuk teks yang merupakan gabungan huruf, angka, whitespace (spasi), dan berbagai karakter.

In [ ]:
# String

print("he3874rdh3784956&^%^%&^%@&^%&E^")

he3874rdh3784956&^%^%&^%@&^%&E^

In [ ]:
my_string = "HELLO"
my_string[1]

'E'

In [ ]:
print("Hello")

Hello

In [ ]:
print('''shgdajhsgdhja
sgdsk
audjaksdjkas
ksgdahj
''')

shgdajhsgdhja
sgdsk
audjaksdjkas
ksgdahj

In [ ]:
# Input
name = str(input("Silahkan masukan nama anda ")) #Melakukan input nama
age = int(input("Silahkan masukan umur anda ")) #Melakukan input usia
print("Nama saya {} dan saya berumur {} tahun".format(name,age))

Silahkan masukan nama anda Vivi
Silahkan masukan umur anda 12
Nama saya Vivi dan saya berumur 12 tahun

In [ ]:
name = str(input("Silahkan masukan nama anda ")) #Melakukan input nama
age = int(input("Silahkan masukan umur anda ")) #Melakukan input usia
print(f"Nama saya {name} dan saya berumur {age} tahun")

Silahkan masukan nama anda Vi
Silahkan masukan umur anda 11
Nama saya Vi dan saya berumur 11 tahun

### List

Tipe data list adalah tipe data yang di dalamnya berisi satu nilai atau lebih. Dalam bahasa pemograman lain, tipe data ini disebut juga dengan *array*. List bisa diisi dengan berbagai jenis data, tidak harus tipe data yang sama. Tipe data ini ditandai dengan penggunaan kurung siku [].

In [ ]:
a = [1,2,3,4,4,5,5,6,7,8]
b = ["A","s","sd","sads","sad"]
c = [True, False, 5>6]
print(a)
print(b)
print(c)

[1, 2, 3, 4, 4, 5, 5, 6, 7, 8]
['A', 's', 'sd', 'sads', 'sad']
[True, False, False]

In [ ]:
new_list = ["Tom", 18, "Ohio"]

In [ ]:
# list accessing
new_list[2] #melihat data dari list new_list dengan urutan ke-2

'Ohio'

In [ ]:
#mengisi kurung kurawal dengan format dari new_list
print("My name is {}, i am {} years old and i live in {}".format(new_list[0],new_list[1],new_list[2]))

My name is Tom, i am 18 years old and i live in Ohio

In [ ]:
# Negative Indexing
new_list[-1] #melihat data dari list new_list dengan urutan paling belakang

'Ohio'

In [ ]:
# list slicing
my_list=[0,1,2,3,4,5,6,7,8,9]
my_list[0:5] #menampilkan data urutan 0 - 5

[0, 1, 2, 3, 4]

In [ ]:
my_list[:7] #menampilkan data dari awal sampai urutan ke-7

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
my_list[2:] #menampilkan data dari urutan ke-2 sampai terakhir

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list[2:-1] #menampilkan data dari urutan ke-2 sampai 2 terakhir dari belakang

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
my_list[::2] #menampilkan data dari awal dengan kelipatan 2

[0, 2, 4, 6, 8]

In [ ]:
# .sort()
my_list2 = [45,1,23,9,23,100,4,567]
my_list2.sort(reverse=True) #True mengurutkan dari terbesar ke terkecil. False dari terkecil ke terbesar

In [ ]:
my_list2

[567, 100, 45, 23, 23, 9, 4, 1]

In [ ]:
my_list2.reverse() #membalik urutan

In [ ]:
my_list2

[1, 4, 9, 23, 23, 45, 100, 567]

In [ ]:
my_list3 = ["adi","zack",'cloud','leon']
my_list3.sort() #mengurutkan list

In [ ]:
my_list3

['adi', 'cloud', 'leon', 'zack']

In [ ]:
# is in
"leon" in my_list3 #mengecek apakah ada kata leon di my_list3

True

In [ ]:
99 in my_list2 #mengecek apakah ada angka 99 di my_list2

False

In [ ]:
my_list2

[1, 4, 9, 23, 23, 45, 100, 567]

In [ ]:
#.index()
my_list2.index(100) #melihat angka 100 berada pada urutan ke berapa

6

In [ ]:
my_list2.append(19) #menambahkan angka 19 ke dalam list

In [ ]:
my_list2

[1, 4, 9, 23, 23, 45, 100, 567, 19]

In [ ]:
# split()
"A B C D E F G H I J K".split(" ") #memisahkan

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

## Operator

**Operator Aritmatika**


*   Penjumlahan (+)
*   Pengurangan (-)
*   Perkalian (*)
*   Pembagian (/)
*   Sisa pembagian atau modulo (%)

**Operator Relasi**


*   Sama dengan (==)
*   Tidak sama dengan (!=)
*   Lebih besar (>)
*   Lebih kecil (<)
*   Lebih besar sama dengan (>=)
*   Lebih kecil sama dengan (<=)

In [ ]:
a = 9
b = 4

In [ ]:
c = a+b
d = a-b
e = a*b
f = a/b
g = a%b
print('Hasil penjumlahan dari a dan b adalah',c)
print('Hasil pengurangan dari a dan b adalah',d)
print('Hasil perkalian dari a dan b adalah',e)
print('Hasil pembagian dari a dan b adalah',f)
print('Hasil sisa pembagian dari a dan b adalah',g)

Hasil penjumlahan dari a dan b adalah 13
Hasil pengurangan dari a dan b adalah 5
Hasil perkalian dari a dan b adalah 36
Hasil pembagian dari a dan b adalah 2.25
Hasil sisa pembagian dari a dan b adalah 1

In [ ]:
a == b

False

In [ ]:
a != b

True

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
a >= b

True

In [ ]:
a <= b

False

## Control Flow

*Control Flow* adalah urutan fungsi panggilan, instruksi, dan pernyataan dieksekusi atau dievaluasi ketika suatu program sedang berjalan.

### If-else

Digunakan untuk menguji sebuah kondisi.

*   Bila kondisi yang diuji terpenuhi, program akan menjalankan pernyataan – pernyataan tertentu
*   Bila kondisi yg diuji salah, program akan menjalankan pernyatan2 lain

In [ ]:
a = int(input()) #fungsi masukkan
if a > 0 : #jika a lebih besar dari 0
    print("a is a positive number") #print "a is a positive number"
elif a == 0 : #jika a sama dengan 0
    print("a is equal to zero") #print "a is equal to zero"
else : #jika a tidak lebih besar dari 0 dan tidak sama dengan 0
    print("a is a negative number") #print "a is a negative number"

print("This string is outside the else-if statement")

-6
a is a negative number
This string is outside the else-if statement

### For Loops

For digunakan pada cacah (counter) perulanganyang diketahui. (berapa kali perulangan tersebutakan dilakukan)

In [ ]:
my_list2

[1, 4, 9, 23, 23, 45, 100, 567, 19]

In [ ]:
len(my_list2) #panjang dari my_list2

9

In [ ]:
ha ="Hello"
for a in ha:
    print(a, end=" ")

H e l l o

In [ ]:
for a in my_list2:
    print(a)

1
4
9
23
23
45
100
567
19

In [ ]:
for a in my_list2 :
    print("I am sorry")

I am sorry
I am sorry
I am sorry
I am sorry
I am sorry
I am sorry
I am sorry
I am sorry
I am sorry

In [ ]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = 2
for a in range(20) :
    a += a**2
print(a)

380

Break statement digunakan untuk menghentikan (break) perulangan for atau while. Statement break memberikan kemampuan baik secara fungsional, efisiensi kode, dan keefektifan dalam menggunakan sumber daya komputasi.

In [ ]:
# break statement
my_list4 = [2,4,6,8,10,7,66,44,22]
for x in my_list4 :
    print(x)
    if x%2 == 1 :
        break

2
4
6
8
10
7

Statement continue digunakan untuk melanjutkan iterasi untuk kode berikutnya, setelah dihentikan oleh syntax break.

In [ ]:
# continue
for x in my_list4:
    if x%2 == 1:
        continue
    print(x, end=" ")

2 4 6 8 10 66 44 22

### While Loops

While berfungsi untuk mengulang suatu statement selama kondisi bernilai true.

In [ ]:
i = 0
while i<10 :
    print(i, end=" ")
    i += 1

0 1 2 3 4 5 6 7 8 9

## Functions

Functions adalah kode program yang dirancang untuk menyelesaikan sebuah tugas tertentu, dan merupakan bagian dari program utama.

In [ ]:
def luassegitiga(x,y):
  return (x*y)/2
x=10; y=5
print(luassegitiga(x,y))

25.0

In [ ]:
def f(x=10):
  ''' Ini merupakan contoh fungsi '''
  return x**2 + 2*x + 1
#a = f(10)
print(f())

121

In [ ]:
f(11)

144

In [ ]:
def identitas(nama, umur) :
    print("Nama saya"+" "+nama+" "+"saya berumur"+" "+str(umur)+" "+"tahun")
identitas("Tom",25)

Nama saya Tom saya berumur 25 tahun

## Dictionary

Struktur data yang bentuknya menyerupai kamus. Dictionary pada python digunakan untuk memudahkan programer dalam menginput suatu indeks.

In [ ]:
# Membuat Dictionary
populasi = {'jakarta':1000, 'yogyakarta':500, 'bandung':2000}
populasi

{'jakarta': 1000, 'yogyakarta': 500, 'bandung': 2000}

In [ ]:
wisuda = {'budi':'lulus','andi':'tidak lulus','reyhan':'syulit lulus'}
wisuda

{'budi': 'lulus', 'andi': 'tidak lulus', 'reyhan': 'syulit lulus'}

In [ ]:
buah = {'apel':[2,3,4,10], 'jeruk':[10,13,4,2], 'pisang':[12,11,0,9]}
buah

{'apel': [2, 3, 4, 10], 'jeruk': [10, 13, 4, 2], 'pisang': [12, 11, 0, 9]}

In [ ]:
print(type(populasi))
print(type(wisuda))
print(type(buah))

<class 'dict'>
<class 'dict'>
<class 'dict'>

In [ ]:
list(populasi.values())

[1000, 500, 2000]

In [ ]:
list(populasi.keys())

['jakarta', 'yogyakarta', 'bandung']

In [ ]:
# Memanggil value dalam Dictionary berdasarkan key
print(buah['apel'])
print(populasi['jakarta'])

[2, 3, 4, 10]
1000

In [ ]:
# Mengambil semua nama key
print(populasi.keys())

dict_keys(['jakarta', 'yogyakarta', 'bandung'])

In [ ]:
# Mengambil semua nama values
print(populasi.values())

dict_values([1000, 500, 2000])

## Dataframe

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular

In [ ]:
# Membuat Dataframe dari Dictionary
hewan = pd.DataFrame({'kucing':[2,3,8,4],'hamster':[2,2,1,2],'kelinci':[3,4,2,1]})

In [ ]:
hewan

   kucing  hamster  kelinci
0       2        2        3
1       3        2        4
2       8        1        2
3       4        2        1

In [ ]:
type(hewan)

pandas.core.frame.DataFrame

In [ ]:
# Memanggil kolom tertentu
hewan['kucing']

0    2
1    3
2    8
3    4
Name: kucing, dtype: int64

In [ ]:
print(type(hewan['kucing']))

<class 'pandas.core.series.Series'>

In [ ]:
# Memanggil baris dan kolom tertentu
hewan['kucing'][0]

2

In [ ]:
hewan.loc[0,'kucing']

2

In [ ]:
# Membuat Dataframe dari Import CSV
df = pd.read_csv('HR_comma_sep.csv')

In [ ]:
# Lihat beberapa baris awal data
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

In [ ]:
df.tail()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [ ]:
# Lihat list nama kolom
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [ ]:
# Ubah kolom 'Unnamed: 0' sebagai 'id'
df.rename(columns={'sales':'Departement'},inplace=True)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departement,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
# Mengubah Departement menjadi numerik
df['salary'] = df['salary'].map({'low':1, 'medium':2, 'high':3})

In [ ]:
# Melihat statistik dari data
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268,1.594706
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281,0.637183
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000,1.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000,1.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000,2.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000,2.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000,3.000000

In [ ]:
# Melihat tipe data tiap kolom/variabel
df.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
Departement               object
salary                     int64
dtype: object

## Subsetting Dataframe

Subsetting dataframe berarti memilih kolom dan baris tertentu pada dataframe berdasarkan kriteria yang diinginkan

In [ ]:
# Melihat unique value (kategori) pada suatu kolom
df['Departement'].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [ ]:
df['salary'].unique()

array([1, 2, 3])

In [ ]:
# Melihat banyaknya nilai masing-masing kategori
df['Departement'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: Departement, dtype: int64

In [ ]:
# Mengambil data hanya jenis Ayam
df.loc[df['Departement']=='sales']

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departement,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
1,0.80,0.86,5,262,6,0,1,0,sales,2
2,0.11,0.88,7,272,4,0,1,0,sales,2
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1
...,...,...,...,...,...,...,...,...,...,...
14967,0.43,0.51,2,128,3,0,1,0,sales,1
14968,0.40,0.47,2,128,3,0,1,0,sales,2
14969,0.43,0.46,2,157,3,0,1,0,sales,2
14970,0.78,0.93,4,225,5,0,1,0,sales,2
14971,0.39,0.45,2,140,3,0,1,0,sales,2

In [ ]:
# Mengambil data hanya dari departement sales dengan salary low (1)
df.loc[(df['Departement']=='sales') & (df['salary']==1)]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departement,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1
5,0.41,0.50,2,153,3,0,1,0,sales,1
6,0.10,0.77,6,247,4,0,1,0,sales,1
...,...,...,...,...,...,...,...,...,...,...
14963,0.09,0.95,6,271,4,0,1,0,sales,1
14964,0.10,0.97,6,280,4,0,1,0,sales,1
14965,0.45,0.46,2,149,3,0,1,0,sales,1
14966,0.83,0.81,5,219,5,0,1,0,sales,1
14967,0.43,0.51,2,128,3,0,1,0,sales,1

In [ ]:
# Mengambil data hanya dari departement sales dengan salary low (1) atau salary medium (2)
df.loc[(df['Departement']=='sales') & (df['salary']==1) | (df['salary']==2)]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departement,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
1,0.80,0.86,5,262,6,0,1,0,sales,2
2,0.11,0.88,7,272,4,0,1,0,sales,2
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1
...,...,...,...,...,...,...,...,...,...,...
14979,0.09,0.93,6,296,4,0,1,0,technical,2
14982,0.38,0.49,2,137,3,0,1,0,technical,2
14983,0.72,0.84,5,257,5,0,1,0,technical,2
14984,0.40,0.56,2,148,3,0,1,0,technical,2
14985,0.91,0.99,5,254,5,0,1,0,technical,2

In [ ]:
df.loc[(df['Departement']=='sales') & df['salary'].isin([1,2])]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departement,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
1,0.80,0.86,5,262,6,0,1,0,sales,2
2,0.11,0.88,7,272,4,0,1,0,sales,2
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1
...,...,...,...,...,...,...,...,...,...,...
14967,0.43,0.51,2,128,3,0,1,0,sales,1
14968,0.40,0.47,2,128,3,0,1,0,sales,2
14969,0.43,0.46,2,157,3,0,1,0,sales,2
14970,0.78,0.93,4,225,5,0,1,0,sales,2
14971,0.39,0.45,2,140,3,0,1,0,sales,2

## Import Data

In [ ]:
# Import data dalam format excel
DataFrame = pd.read_excel('data gabung_edit 4.xlsx', sheet_name='Database') #sheet_name untuk mengambil data pada sheet tertentu

In [ ]:
# Import dat dalam format csv
DataFrame = pd.read_csv('1Dataset Andaat_Data Latih.csv')

In [ ]:
# Import dat langsung dari google drive
from google.colab import drive
drive.mount('/content/drive')
DataFrame = pd.read_csv('/content/drive/MyDrive/vvvvvvv/1Dataset Andaat_Data Latih.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Inspecting DataFrame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB